<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mail.qq.com/cgi-bin/ftnDownload302?sid=mZXPo_zf-W5SFgBb&fid=2%2Fe0a89b9f-80d8-4e35-820c-61610603f161&code=732da9d6&k=0b333264ceaafbca3b7ca172473956195203535c585b5d501a0b02005914505304061f5c5309071b01020455510f540551020455613e6453545e1c0d1158640b</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hyhhgroup.hyhhecm</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>ecm</string>
				<key>title</key>
				<string>ecm</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
