<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://tj-ctfs.ftn.qq.com/ftn_handler/58d746d8c8e90536f8d492367e77832d68d45ab8c54477193fa69cc63a2fbe4b65d59bba2fe38c39ecc2092613193286c5c7c5a23a568702e5fff396336a0fa8/?fname=ecm.ipa&k=0b333264ceaafbca3b7ca172473956195203535c585b5d501a0b02005914505304061f5c5309071b01020455510f540551020455613e6453545e1c0d1158640b&code=732da9d6&fr=00&&txf_fid=ba36a928f4cef660b9858e493a48b4dbdf444741&xffz=56650833</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string></string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string></string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hyhhgroup.hyhhecm</string>
				<key>bundle-version</key>
				<string>1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>ecm</string>
				<key>title</key>
				<string>ecm</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
